[app-theme="light"] {
  --background-color: #eff3f6;
  --text-background-color: #eff3f6;
  --text-color: #6e7f8d;
  --gray: #b2b1b9;
  --dark-shadow: #c2c4ca;
  --light-shadow: #ffffff;
  --btn-color: #f0f2f9;
}

[app-theme="dark"] {
  --background-color: #2b2f34;
  --text-background-color: #2b2f34;
  --text-color: #e7e7e7;
  --gray: #454545;
  --black: #292929;
  --dark-shadow: #23262b;
  --light-shadow: #33383f;
  --btn-color: #2b2f35;
}
:root{
  --alert-background-color:rgb(211, 117, 117);
  --alert-text-background-color: rgb(216, 145, 145);;
  --alert-dark-shadow: rgb(160, 77, 77);
  --alert-light-shadow: rgb(169, 90, 90);
  --alert-btn-color: rgb(169, 90, 90);
}



body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#root {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 26px;
  padding: 4px 12px;
  border: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


.App.dark {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.4s ease-out;
}

.App.light {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.4s ease-out;
}

/* set alert */
.App.alert{
  background-color: var(--alert-background-color);
  transition: background-color 30s ease-out;
}
.App.alert>.main>.wrapper>div>.text_box{
  background: var(--alert-text-background-color);
  box-shadow: inset 5px 5px 5px var(--alert-dark-shadow),
    inset -5px -5px 5px var(--alert-light-shadow);
  transition: background-color 30s ease-out,box-shadow 30s ease-out;;
}
.App.alert>.main>.wrapper>header>.util>.toggle_btn{
  background: var(--alert-btn-color);
  box-shadow: 5px 5px 5px var(--alert-dark-shadow), -5px -5px 5px var(--alert-light-shadow);
  transition: background-color 30s ease-out, box-shadow 30s ease-out;
}
.App.alert>.main>.wrapper>header>.util>.export_btn{
  background: var(--alert-btn-color);
  box-shadow: 5px 5px 5px var(--alert-dark-shadow), -5px -5px 5px var(--alert-light-shadow);
  transition: background-color 30s ease-out, box-shadow 30s ease-out;
}


.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 400px;
  height: 95%;
}
.text_box {
  box-sizing: border-box;
  padding: 20px 36px;
  border: none;
  border-radius: 26px;
}
textarea::placeholder {
  color: var(--text-color);
}
.text_box.light {
  color: var(--text-color);
  background: var(--text-background-color);
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}
.text_box.dark {
  color: var(--text-color);
  background: var(--text-background-color);
  box-shadow: inset 5px 5px 5px var(--dark-shadow),
    inset -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}



textarea.light::placeholder {
  color: var(--text-color);
  transition: color 0.4s ease-out;
}

textarea.dark::placeholder {
  color: var(--text-color);
  transition: color 0.4s ease-out;
}
.countDown {
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle_btn {
  cursor: pointer;
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  fill: var(--text-color);
}

.toggle_btn.dark {
  color: var(--text-color);
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}
.toggle_btn.light {
  color: var(--text-color);
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}

.export_btn {
  cursor: pointer;
  border: none;
  border-radius: 26px;
}
.export_btn.dark {
  color: var(--text-color);
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}
.export_btn.light {
  color: var(--text-color);
  background: var(--btn-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  transition: background-color 0.4s ease-out, box-shadow 0.4s ease-out;
}

.dialogWrapper {
  position: relative;
  min-width: 250px;
}
.dialog {
  all: unset;
  top: 20%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  box-shadow: 5px 5px 5px var(--dark-shadow), -5px -5px 5px var(--light-shadow);
  border-radius: 26px;
  width: 100%;
  min-height: 120px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
