[app-theme="light"] {
  --background-color: red;
}

[app-theme="dark"] {
  --background-color: #292929;
  --text-background-color: #3f3f3f;
  --text-color: #e7e7e7;
  --gray: #454545;
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.wrapper {
  position: relative;
  width: 600px;
  height: 90%;
}
.text_box {
  background-color: var(--text-background-color);
  color: var(--text-color);
}

.toggle_btn {
  background-color: var(--gray);
}
.export_btn {
  border: 1px solid var(--gray);
  background-color: transparent;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
